body{
    background-color: black;
    color: white;
}

.container{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    background-color: rgb(52, 50, 50);
    border-radius: 20px;
    padding: 1rem;
}

#title{
    font-size: 90px;
    text-align: center;

}

.heading{
    font-family: 'Lobster', cursive;
}

#span1{
    color: red;
}

#img-div{
    /* border: 2px solid red; */
    text-align: center;
}
#image{
    width: 500px;
}

#info{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 25px;
}

#marvel{
    color: red;
    margin-left: 10%;

}

ul{
    width: 80%;
    margin: auto;
    text-align: justify;
    list-style-type: lower-roman;
}

li{
    font-size: 24px;
    line-height: 3rem;
}

#footer{
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;

}

#link{
    text-decoration: none;
    color: white;
    border: 2px solid darkgoldenrod;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(47, 45, 45);
}

#link:hover{
    background-color: darkgoldenrod;
    color: red;
}
































